---
layout: page
title:
---


<div id="archives">
{% for author in site.authors %}
  <div class="archive-group">
    <h3 class="category-head">{{ author.title }}</h3>
    {% for book in site.books %}
      {% if book.author == author.title %}
    <article class="archive-item">
      <h4><a class="morel" href="{{ site.baseurl }}{{ book.url }}">{{book.title}}</a></h4>
    </article>
      {% elsif book.author2 == author.title %}
    <article class="archive-item">
      <h4><a class="morel" href="{{ site.baseurl }}{{ book.url }}">{{book.title}}</a></h4>
    </article>
      {% elsif book.author3 == author.title %}
    <article class="archive-item">
      <h4><a class="morel" href="{{ site.baseurl }}{{ book.url }}">{{book.title}}</a></h4>
    </article>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
</div>