---
layout: index
title: Literatura venezolana
tagline: libros gratis de dominio público
---
{% include JB/setup %}
    <!-- Content Area Start -->
    <div id="content">
      <div class="container">
        <!-- row start -->
        <div class="row">
          <div class="col-md-12">
            <div class="page-header-title">
              <h2 class="heading-title text-center">Descargas gratuitas</h2>
            </div>
            <!-- Books row 02 -->
            <div class="team-members mtb-50">
              <div class="sub-title">
                <span>&uacute;ltimas disponibles</span>
              </div>
              <div class="row">
                {% for post in site.posts %}
                <div class="col-sm-6 col-md-3">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">Edición publicada en {{ post.ciudad }} por {{ post.editorial }} en {{ post.edicion }} {% if post.year %}. Publicada por primera vez en {{ post.year }}. {% endif %}</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="google-plus" href="#"><i class="fa fa-instagram"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        {{ post.title }}
                      </h2>
                      <p>
                        {{ post.category }}
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
                {% endfor %}
              </div>
            </div>
            <!-- End Books row 02 -->
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area End -->
    <div class="text-center">Love this UI Kit? Get more Free and Premium <a href="https://uideck.com/products/category/ui-kits/">Bootstrap UI Kits</a> </div>
