           <h2>Acerca de MOREL</h2>
          <div class="row blog-block about-sidebar-widget">
            <div class="col-sm-12 col-md-6 col-lg-6">
            	<img src="{{ BASE_PATH }}/assets/images/{{ site.author.image }}">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">        
	            <p>{{ site.author.description }}</p>
	            <p>Síguenos en nuestras redes y participa <a href="{BASE_PATH}/agregar">agregando contenido</a>, o con la compra de un producto en la tienda <a href="https://www.redbubble.com/people/proyectomorel/shop?asc=u">Red Bubble</a></p> 
              {% include social-block.html %}
          
            </div>
          </div>

          <div class="mb-60"></div>