          <div class="row blog-block about-sidebar-widget">
            <div class="col-sm-12 col-md-6 col-lg-6">
            	<img src="{{ BASE_PATH }}/assets/images/{{ site.author.image }}">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
	            <h4><a class="morel" href="{{ site.author.site }}">{{ site.author.name }}</a></h4>
	            <p>{{ site.author.description }}</p>
	            {% include social-block.html %}
              <a href="https://www.redbubble.com/people/proyectomorel/shop?artistUserName=proyectomorel&asc=u&iaCode=u-clothing"><img src="/assets/images/tienda-1.png" class="responsive"></a>
            </div>
          </div>

          <div class="mb-60"></div>
          